.router-view {
    height: 100vh;
    padding-top: $router-top-padding;
    background: url('assets/images/backgrounds/main_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    overflow-y: scroll;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}