.icon {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 1rem;
        width: 1rem;
        transform: translate(-50%, -50%);
    }

    &.rounded {
        border-radius: 50%;
    }

    &.bg-black {
        background-color: $black;
    }

    &.bg-white {
        background-color: $white;
    }

    &.bg-blue {
        background-color: $blue-dark;
    }

    &.bg-yellow {
        background-color: $yellow-dark;
    }
}