// fonts
$font: 'Libre Baskerville';

// colors
$black: #000000;
$white: #ffffff;
$brown: #aa5500;
$blue: #55aaff;
$blue-dark: #0055aa;
$yellow-dark: #aaaa00;

// spacings
$side-padding: 0.5rem;
$router-top-padding: 3rem;