.camp-page {
    .action-component, .information-component {
        grid-column: span 2;
        grid-row: span 4;
        padding: 0.5rem;
    }

    .information-component {
        .inner-container {
            padding: 2rem;
        }
    }

    .inner-container {
        position: relative;
        height: 100%;
        border-radius: 0.5rem;
        background: $black;
        overflow: hidden;
    }
    
    .plane-flying {
        .icon {
            transition: all 1.5s ease-in;
            transform: translate(100%, 100%);
        }
    }
    .plane-outside {
        .icon {
            transition: none;
            transform: translate(-200%, -200%);
        }
    }
    .plane-landing {
        .icon {
            transition: all 1.5s ease-out;
            transform: translate(-50%, -50%);
        }
    }
}