.edit-club-page {
    text-align: center;
    
    .emblem-change-wrapper, .club-name-wrapper {
        position: relative;
        float: left;
        width: 46vw;
        height: 50vh;
        margin: 10vh 2vw 2rem;
        background-color: $blue-dark;
        border-radius: 1rem;
        text-align: center;
    
        .icon-wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            img {
                height: 2rem;
                width: 2rem;
            }
        }
    
        .icon-left {
            left: 1rem;
        }
    
        .icon-right { 
            right: 1rem;
        }

        input {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .emblem-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    
        .emblem-icon {
            position: relative;
            height: 20vh;
            width: 20vh;
    
            img {
                position: absolute;
                left: 50%;
                height: 100%;
                width: auto;
                transform: translateX(-50%);
            }
        }
    }

    .btn {
        margin-top: 5rem;
    }
}
