<div class="nav-left">
  <!-- return btn -->
  <IconBtn
    v-if="pageName !== 'Home'"
    :source="imgReturn"
    classNames="rounded bg-black"
    @return="emitReturn" />
  <ul class="quicklinks">
    <!-- home btn -->
    <li v-if="pageName !== 'Home'">
      <router-link to="/">
        <IconBtn
          :source="imgHome"
          classNames="rounded bg-black" />
      </router-link>
    </li>
    <!-- notification btn -->
    <li>
      <IconBtn
        :source="imgNotification"
        classNames="rounded bg-black" />
    </li>
  </ul>
  <!-- next bonus -->
  <div class="next-bonus">
    <span>Next Bonus</span>
  </div>
</div>