<div class="nav-left">
  <!-- return btn -->
  <a
    v-if="pageName !== 'Home'"
    class="go-back">
    <SvgIcon
      icon="return_white"
      classNames="rounded bg-black"
      @iconclick="goBack" />
  </a>
  <ul class="quicklinks">
    <!-- home btn -->
    <li v-if="pageName !== 'Home'">
      <router-link to="/">
        <SvgIcon icon="home_white" classNames="rounded bg-black" />
      </router-link>
    </li>
    <!-- notification btn -->
    <li class="notifications-wrapper" @click="toggleNotifications">
      <SvgIcon
        icon="notification_white"
        classNames="rounded bg-black" />
      <div v-if="notificationsOpened" class="notifications">
        <p>Notification 1</p>
        <p>Notification 2</p>
        <p>Notification 3</p>
      </div>
    </li>
  </ul>
  <!-- next bonus -->
  <div class="next-bonus">
    <span>Next Bonus</span>
  </div>
</div>